# --- Visual Studio Specific ---
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# --- Build Results ---
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/

# --- Packages & Dependencies ---
*.nuget.props
*.nuget.targets
packages/
node_modules/

# --- Operating System Files ---
Thumbs.db
ehthumbs.db
Desktop.ini

# --- Backup and Temporary Files ---
*.bak
*.tmp
*.log